.aboutme{
    height: auto;
  }
  
  .aboutme-header{
    display: flex;
    justify-content: center;
  }
  
  .aboutme-header h2{
    font-weight: 500;
    margin: 0;
  }
  
  .aboutme-header h3{
    font-weight: 500;
    margin: 0;
    color: #B459C5;
  }
  
  .checked{
    color: #B459C5;
  }
  
  .aboutme-skills h2{
    font-weight: 400;
    text-align: center;
  }
  
  .aboutme-skills-stars{
    display: flex;
    justify-content: center;
  }
  
  .aboutme-skills-stars > div{
    display: flex;
    flex-direction: column;
  }
  
  .stars-item{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1vw;
    justify-content: space-between;
  
    -webkit-box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 1);
  }
  
  @media screen and (max-width: 600px){
    .aboutme > .content-container{
        width: 90%;
        margin: 6vw auto 4vw auto;
    }
  
    .aboutme-header{
        margin: 0 auto 12vw auto;
        column-gap: 1vw;
    }
  
    .aboutme-header h2{
        font-size: 7vw;
    }
  
    .aboutme-header h3{
        font-size: 7vw;
    }
  
    .aboutme-text > p{
        font-size: 4.5vw;
        margin: 2vw 0;
    }
  
    .aboutme-skills{
        margin-top: 8vw;
    }
  
    .aboutme-skills h2{
        font-size: 7vw;
    }
  
    .aboutme-skills-stars{
        column-gap: 5vw;
        flex-wrap: wrap;
        row-gap: 5vw;
        margin-top: 10vw;
    }
  
    .aboutme-skills-stars > div{
        justify-content: space-between;
        row-gap: 5vw;
        width: 100%;
    }
  
    .stars-item{
        border-radius: 1.5vw;
        padding: 3vw 6vw 3vw 6vw;
        font-size: 5vw;
    }
  }
  
  @media screen and (min-width: 600px){
    .aboutme-content-container{
        position: relative;
        padding-top: 1rem;
        width: 75%;
        margin: 3vw auto 2vw auto;
    }
  
    .aboutme-header{
        margin: 0 auto 6vw auto;
        column-gap: 0.8vw;
    }
  
    .aboutme-header h2{
        font-size: 3.5vw;
    }
  
    .aboutme-header h3{
        font-size: 3.5vw;
    }
  
    .aboutme-text > p{
        font-size: 1.75vw;
        margin: 1vw 0;
    }
  
    .aboutme-skills{
        margin-top: 4vw;
    }
  
    .aboutme-skills h2{
        font-size: 3vw;
    }
  
    .aboutme-skills-stars{
      margin-top: 4vw;
      column-gap: 5vw;
    }
  
    .aboutme-skills-stars > div{
        row-gap: 3vw;
    }
  
    .stars-item{
        column-gap: 1vw;
        border-radius: 0.5vw;
        padding: 1vw 2vw 1vw 2vw;
  
        font-size: 1.5vw;
    }
}